<% content_for :javascript do %>
  <%= javascript_include_tag 'events/new', 'effects', 'controls',
                    "/fiscal_years/#{@fiscal_year.id}/accounts" %>
<% end %>

<%= error_messages_for :event %>

<% form_for([@fiscal_year, @event], :html => {:id => "event_form"}) do |f| %>

<div>
  <%= hidden_field_tag "form_token", @form_token %>
</div>

  <p>
    <label for="event_description">Description:</label> <%= f.text_field(:description, :size => 40) %>
  </p>
  
  <p>
    <label for="event_receipt_number">Receipt Number:</label> <%= f.text_field(:receipt_number, :size => 4) %>
  </p>
  
  <p>
    <label for="event_event_date">Date:</label> <%= f.text_field :event_date, :size => 12, :class => "date" %>
  </p>

  <ul class="event_lines">
    <li>
      <h4>
        <span class="debit">
          Debit
        </span>
        <span class="credit">
          Credit
        </span>
      </h4>
    </li>
    
    <% @lines.each_with_index do |@line, idx| %>
      <% @line.id = idx + 1 if @line.id.blank? %>
      <li>
        <span class="account">
          <%= select( "line[]", :account_id, @accounts.map{|a| [a.title, a.id]}, :include_blank => true) %>
        </span>
        <span class="debit">
          <%= text_field "line[]", :debit, :size => 8, :value => trimmed(@line.debit) %>
        </span>
        <span class="credit">
          <%= text_field "line[]", :credit, :size => 8, :value => trimmed(@line.credit) %>
        </span>
      </li>
    <% end %>
  </ul>

  <p>
    <%= submit_tag @event.new_record? ? "Create" : "Save" %>
  </p>
<% end %>