<h1>New fiscal_year</h1>
<% if @fiscal_year.errors.any? %>
  <ul>
    <% @fiscal_year.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<% form_for(@fiscal_year) do |f| %>
  <%= f.text_field "description" %>

  <%= f.text_field 'start_date', :class => "date" %>
  <%= f.text_field 'end_date', :class => "date" %>
  
  <%= f.select 'copy_accounts_from', @fiscal_years.map{|fy| [fy.description, fy.id]} %>
  
  <%= f.check_box 'copy_balance', :title => "Copy the balance sheet balance" %>

  <p>
    <%= submit_tag "Create fiscal year" %>
  </p>
<% end %>

<%= link_to 'Back', fiscal_years_path %>
