<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Smartbooks</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag 'scaffold', 'smartbooks' %>
  <%= javascript_include_tag 'prototype', 'lowpro', 'date_selector', 'application' %>
  <%= csrf_meta_tags %>
  <%= yield :javascript %>  
</head>
<body>
<p style="color: green" id="notice"><%= flash[:notice] %></p>
<p style="color: red"><%= flash[:warning] %></p>
<%= yield %>

</body>
</html>
